/* game.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#game-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 66.66%; /* 좌우 50px 여백을 고려한 폭 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 30px 0; /* 위아래 30px 패딩 */
    display: flex;
    flex-direction: column; /* 세로로 배치 */
}

header nav {
    display: flex;
    justify-content: left; /* 가운데 정렬 */
    width: 100%;
}

.categories {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.categories li {
    display: inline;
}

.categories a {
    text-decoration: none;
    color: #007bff;
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
}

.categories a:hover {
    text-decoration: underline;
}


#candidates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 70px; /* 헤더와의 간격을 20px 추가 */
    flex-wrap: wrap;
    position: relative;
}

#candidates-container .candidate {
    margin: 10px;
    text-align: center;
    font-size: 26px;
    padding: 10px;
    width: 500px;
    height: 300px;
}

#candidates-container img {
    max-width: 600px;
    max-height: 500px;
    object-fit: cover;
}

.vs-container {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.vs-container img {
    width: 200px;
    height: auto;
}

#winner-container {
    margin-top: 40px;
    text-align: center;
    display: none;
}

#winner-name {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#winner-name .highlight {
    font-size: 40px;
    color: red;
}

#winner-img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}
