body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#candidates-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin: 20px auto; /*중앙정렬*/
}

.candidate {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    margin: 10px; /* 후보 사이 여백 추가 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.candidate img {
    max-width: 100%;
    height: auto; /* 이미지의 비율 유지 */
    object-fit: cover; /* 이미지를 컨테이너에 맞게 조정하며 비율 유지 */
    border-radius: 5px;
}

.candidate-name {
    margin-top: 10px;
    font-weight: bold;
    font-align: center;
}
.home-link {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
            text-decoration: none;
            color: #007BFF;
            background-color: #f0f0f0;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .home-link:hover {
            background-color: #e0e0e0;
        }

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}